body {
  margin: 0 auto;
  width: 80%;

}
.container-fluid {

}

.navbar-nav {
    float: right;
    font-family: 'Codystar', cursive;
    font-size: 12px;
}
#logo {
  height: 60px;
  width: 50%;
  border-radius: 25%;
}
.logo:hover {
  color: #c058a7;
}

.hire-me {
  background-color: white;
  color:black;
  font-family: 'Codystar', cursive;
  padding: 10px 35px 10px 35px;
  font-style: 38px;
  margin-top: 1%;
  margin-bottom: 5%;
  border-style: dotted;
  border-color: black;
}
.hire-me:hover {
  color: #c058a7;
  border-color: #c058a7;
}

.navbar-default {
    background-color: white;
    border-color: white;
}
.logo-title {
  font-family: 'Petit Formal Script', cursive;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 250px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  margin-top: 15%;
}


.projects {
margin-left: 2%;
margin-right: 2%;
}
.modal-header {
  border-style: none;
}
.modal-footer {
  border-style: none;
  margin-top: -5%;
}

#project-1{
/*need to make background image
background-image: url(../img/berry.jpg);
background-repeat: no-repeat;
width: 100%;
height: 300px;
background-size: cover;
background-position: center;
*/
}

#project-1  .text {
position:relative;
visibility:hidden;
}

#project-1:hover .text {
visibility:visible;
}

#project-2 {
  /*need to make background image*/

}

#project-2  .text {
position:relative;
visibility:hidden;
}

#project-2:hover .text {
visibility:visible;
}
#project-3 {
  /*need to make background image*/

}

#project-3  .text {
position:relative;
visibility:hidden;
}

#project-3:hover .text {
visibility:visible;
}
#project-4 {
  /*need to make background image*/

}

#project-4  .text {
position:relative;
visibility:hidden;
}

#project-4:hover .text {
visibility:visible;
}
#project-5 {
  /*need to make background image*/

}

#project-5 .text {
position:relative;
visibility:hidden;
}

#project-5:hover .text {
visibility:visible;
}
#project-6 {
  /*need to make background image*/

}

#project-6 .text {
position:relative;
visibility:hidden;
}

#project-6:hover .text {
visibility:visible;
}
.button {
color: white;

}

.button:hover {
  text-decoration: none;
  color: #c058a7;
}


.img-circle {
    border-radius: 50%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

h1 {
  font-family: 'Petit Formal Script', cursive;
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}
#hire-her {
  font-family: 'Petit Formal Script', cursive;
  font-size: 22px;
  padding-top: 50px;

}
#hire-herr {
  font-family: 'Petit Formal Script', cursive;
  text-align: center;
  font-size: 22px;
  margin-top: 7%;
  margin-bottom: 2%;

}
.potato {
  font-family: 'Petit Formal Script', cursive;
  font-size: 22px;
  padding-left: 13%;
  margin-top: 7%;
}
.potato-2 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 22px;
  padding-left: 30%;
  margin-top: 7%;
}
.space-me {
  margin: 4% 0 4% 0;
}
h2 {
  font-family: 'Codystar', cursive;
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px;
  font-weight: bold;
}
.question {
  font-family: 'Codystar', cursive;
  font-size: 16px;
  text-align: center;
  /*border-style: dotted;
  border-radius: 2%;
  border-width: thin;*/
}
.references {
  margin-top: 10%;
}
span {
  font-family: 'Codystar', cursive;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color:#c058a7;
}
.fa-quote-right {
  color: #c058a7;
}
.fa-quote-left {
  color: #c058a7;
}
.fa-arrow-circle-o-right {
  margin-left: 45%;
  color: grey;
}


#arrow {
  height: 90px;
  width: 300px;
  margin-top: 5%;
  margin-left: 3%;
}

h3 {
  font-family: 'Petit Formal Script', cursive;
  padding-bottom: 5%;
  font-size: 30px;
  text-align: center;
margin-top: 7%;
}
#move-this {
  margin-top: 7%;

}
h4 {
  font-family: 'Petit Formal Script', cursive;
  text-align: center;

}
h5 {
  font-family: 'Codystar', cursive;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
  margin-left: 5%;

}
.text {
  font-family: 'Codystar', cursive;
  text-align: center;
}

/*laptop size */
.snip-it {
  height: 220px;
  width: 100%;
  border-radius: 25%;
}
.resume {
  margin-top: 2%;

}
.resume-logo-oe {
  height: 100px;
  width: 300px;
}
.resume-logo-aca {
  height: 130px;
margin-left: 40%;

}
#eddy {
  margin-top: 1%;
}
.resume-logo-ecu {
  height: 130px;
  width: 250px;
  margin-left: 27%;

}
.resume-logo-oe {
  height: 100px;
  margin-left: 25%;


}
.resume-logo-msh {
  height: 100px;
  width: 400px;
  margin-left: 10%;


}
.msh {
  padding-top: 50px;
}
.bullets {
  font-family: 'Arapey', serif;
  font-size: 12px;
  text-align: center;
  list-style: none;
}

.ecu {
  padding-left: 5%;
}



.ref-profile {
  border-radius: 50%;
  height: 200px;
  width: 90%;
  margin-bottom: 2%;
}
.ref-title {
  color: black;
  font-size: 14px;
  padding-bottom: 5%;

}
.ref-review {
  text-align: center;
  padding: 10%;
}
.review {
  font-family: 'Arapey', serif;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 3%;
  font-size: 14px;
}
.resume-header {
  padding-top: 8%;

}
.inquiry-head {
  padding-top: 3%;
  text-align: center;

}
.map {
  width: 100%;
}
label {
  font-family: 'Codystar', cursive;
  margin-top: 3%;

}

#q {
  margin-bottom: 6%;
}
input {
  border: none;
  border-bottom: 1px dotted;
  font-family: 'Codystar', cursive;

}
.contact-click {
  text-decoration: none;
  color: black;
  margin-bottom: 12%;
  margin-top: 12%;
}
.contact-click:hover {
  text-decoration: none;
  color: #c058a7;

}

#quick-links {
  margin-top: 15%;
  border-style: dotted;
  border-color: #c058a7;
  border-radius: 2%;
  border-width: thin;
  margin-bottom: 5%;
}



i {
  padding-top: 15px;
  padding-bottom: 15px;
}
#leadingmodal {
  font-family: 'Codystar', cursive;
  font-size: 18px;
  text-align: center;
  color:#c058a7;
  font-weight: bold;


}
.www {
  font-family: 'Arapey', serif;
  margin: 2% 7% 7% 7%;
  font-size: 14px;
  text-align: justify;
}



/*tablet size*/
@media (max-width:1023px) and (min-width:768px) {
  .snip-it {
    /*height: 300px;*/
    /*width: 60%;*/
    border-radius: 25%;
    margin-bottom: 5%;
  }

  .ref-profile {
    border-radius: 50%;
    width: 30%;
  }
  .map {
    width: 80%;
    margin-left: 10%;

  }
  label {
    font-family: 'Codystar', cursive;
    margin-left: 10%;

  }
  /*.hire-me {
    background:#f8bddb;
    font-family: 'Codystar', cursive;
    padding: 10px 35px 10px 35px;
    font-style: 38px;
    margin-top: 1%;
    margin-bottom: 20%;
  }*/
  .bullets {
    font-size: 16px;
  }
}


/*phone size*/

.bullets {
  font-size: 12px;
}
.snip-it {
  /*height: 300px;*/
  /*width: 60%;*/
  border-radius: 25%;
  margin-bottom: 7%;
}
@media (max-width: 767px) {
  .ref-profile {
    border-radius: 50%;
    height: 300px;

  }
  .ref-title {
    padding-top: 5%;
    font-size: 24px;
  }
  .review {
    font-size: 18px;
  }
  .resume-logo {
    height: 80px;
    width: 100%;
  }
  .resume-logo-aca {
    height: 80px;
  }
  .resume-logo-ecu {
    height: 80px;
    width: 10px;
  }
  .resume-logo-oe {
    height: 80px;
  }
  .resume-logo-msh {
    height: 80px;

  }
  .img-circle {
      border-radius: 50%;
      height: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20%;
      text-align: center;
      display: table-cell;
      vertical-align: middle
  }
  /*.hire-me {
    font-family: 'Codystar', cursive;
    padding: 10px 35px 10px 35px;
    font-style: 38px;
    margin-top: 1%;
    margin-bottom: 7%;*/

  }
  #q {
    width: 50%;
  }


}
/*.hire-me {
  background-color: white;
  color:#c058a7;
  font-family: 'Codystar', cursive;
  padding: 10px 35px 10px 35px;
  font-style: 38px;
  margin-top: 1%;
  margin-bottom: 5%;
  border-style: dashed;

}*/

/*.hire-me:hover {
  color: #c058a7;
  border-color: #c058a7;
}*/
#modal-text {
  font-family: 'Codystar', cursive;
  align-items: center;
}
